* { margin: 0; padding: 0;}
html, body{
    width: 100%; height: 100%;
}

ul, ol, li { list-style: none;}
a { color:#000; text-decoration: none;}

/* clear both를 쓰면 float left right등이 무력화된다. */
/* 아래와 같이 s사용하면, float을 줄 때마다 부모 클래스 이름에 clear를 주면 
css에서 일일이 clear:both를 줄 필요가 없다. */
img {vertical-align: top;}
input{vertical-align: top;
margin: 0;}
.clear:after {
    content: '';
    display: block;
    clear: both;
}